* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  background: #181633;
}
h2 {
  color: white;
  font-size: 2rem;
}
input {
  width: 260px;
  background: rgb(192 174 174);
  border-radius: 20px;
  height: 60px;
  border: none;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 3px;
  color: white;
  text-align: center;
}
#btn {
  cursor: pointer;
  color: #fff;
  background: rgb(73, 70, 70);
  font-size: 13px;
  padding: 13px;
  border-radius: 8px;
  width: 127px;
}
#btn:active {
  background: green;
}
